{%  extends 'base.html.twig' %}

{% block title %}Wild Series {% endblock %}

{% block body %}
    {% include 'includes/_navbar.html.twig' %}
    {{ dump() }}

    <h1>Wild Series</h1>
    <p>Accueil</p>
{% endblock %}
