// assets/styles/global.scss

// customize some Bootstrap variables
$primary: rgba(0, 114, 198, 1);
$secondary: rgba(255, 188, 0, 1);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "_includes/navbar.scss";
@import "_includes/carousel.scss";
@import "_includes/card.scss";
@import "_includes/series.scss";
@import "_includes/card-actor.scss";
@import "_includes/actor.scss";
@import "_includes/comment.scss";
@import "_includes/glowingbtn.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: avenir next, avenir, sans-serif;
}

.ws-navbar {
  background-color: #100e17;
}

body {
  background-color: #100e17;
}

h1 {
  color: whitesmoke;
  font-weight: 400;
  margin: 50px auto;
  text-align: center;
}

h2, h3, h4, h5 {
  color: whitesmoke;
  font-weight: 300;
  margin: 50px auto;
  text-align: center;
}

h5 {
  color: whitesmoke;
  font-weight: 200;
  margin: 10px 0px;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar-a {
  color: whitesmoke;
}

p {
  margin: 0;
  color: whitesmoke;
}

.radius {
  border-radius: 20px;
}

button {
  background: none;
  border-style: none;
}